body {
    margin: 0; /* Removes default margin */
    overflow: hidden; /* Prevents scrolling */
}

#poster {
  body {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of viewport */
    overflow: hidden;
    background-color: black; /* Optional, to avoid white borders */
}

#poster {
    max-width: 100vw; /* Fit within screen width */
    max-height: 100vh; /* Fit within screen height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}


.glitch {
    filter: blur(5px); /* Blur effect for glitching */
}
